body{
    padding: 0;
    margin: 0;
}
img{
    width: 200px;
    height: 200px;
    border: solid 5px greenyellow;
    padding: 10px;
    border-radius: 10px;
}
div{
    width: 300px;
    height: fit-content;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.btn__card{
    padding: 3px 12px 3px 12px;
    background-color: red;
    color: white;
    border-style: none;
}
.btn__card:hover{
    background-color: greenyellow;
    color: black;
}
.btn__card--img{
    background-color: plum;
}
